@import url('https://fonts.googleapis.com/css2?family=Lato&family=Secular+One&display=swap');

#content {
    max-width: 1800px;
    margin: 0 auto;
}

#logo{
    width: 80px;
    margin-left: 100px;
}

header {
    background-color:#AEAEAE;
    font-family: Secular One, Helvetica;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 130px;
}

nav {
    display: flex;
    justify-content: space-around;
    color: #4B4A4A;  
}

nav a {
    text-align: center;
    color: #8E1515;
    text-decoration: none;
    padding: 50px;
    font-size: 1.5em;
}

nav a:hover {
    background-color:#8E1515;
    color: #ffffff;
}

#contanier{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 180px 1fr;
    column-gap: 50px;
    background-color:#EDDEDE;
}

h1{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 3em;
    font-family: Secular One, Helvetica;
    text-align: center;
    color: #8E1515;
}

.client-1{
    grid-column: 1/2;
    grid-row: 3/3; 
    padding: 50px;
    
}

.client-2{
    grid-column: 2/3;
    grid-row: 3/3; 
    padding: 50px;
}

.client-3{
    grid-column: 3/4;
    grid-row: 3/3;
    padding: 50px;
}

.s-pecial{
    margin: 100px 200px;
    grid-column: 1/4;
    grid-row: 1/2;
    font-family: lato;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    background-color: #4B4A4A;
    border-radius: 1ch;
    padding: 50px;
}

#contanier-banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.banner{
    grid-column: 1/9;
    grid-row: 1/5;
    width: 100%;
    height: 100%;
    z-index: -2;
    
}

.banner-text{
    text-align: center;
    font-size: 5em;
    color: white;
    padding: 50px;
    font-family: Secular One, Helvetica;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #8E1515;  
}

#banner-text-box{
    grid-column: 2/8;
    grid-row: 2/4;
    opacity: 100%;
}

footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}  

footer{
    background-color:#4B4A4A;
    color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
    
}

footer,.social img{
    padding-top: 40px;
}

/* Style the navbar */
#navbar {
    overflow: hidden;
    
  }
  
  /* Navbar links */
  #navbar a {
    text-decoration: none;
    z-index: 10;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 1800px;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

#contanier-2{
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    background-color:#EDDEDE;
}

.title-sub{
    grid-column: 1/3;
    grid-row: 1/1;
    font-size: 3em;
    font-family: Secular One, Helvetica;
    text-align: left;
    color: #8E1515;
    margin: 100px;
    margin-left: 200px;
}

.first-duo{
    grid-template-rows: 700px 300px;
    padding: 100px;
    display: grid;
}

.first-duo p{
    margin: 50px;
    font-family: lato;
    color: #000000;
    font-size: 1.5em;
    text-align: justify;
    background-color: #f5f0f0;
    border-radius: 1ch;
    padding: 10px;
}

.first-duo img{  
    border-radius: 1ch;
    padding: 150px;
    width: 500px;
    height: 500px;
    grid-row: 1/2;
}

.second-duo{   
    grid-row: 3/4;
    padding: 100px;
    grid-template-rows: 700px 300px;
    padding: 100px;
    display: grid;
}

.second-duo p{
    margin: 50px;
    font-family: lato;
    color: #000000;
    font-size: 1.5em;
    text-align: justify;
    background-color: #f5f0f0;
    border-radius: 1ch;
    padding: 10px;
}

.second-duo img{  
    border-radius: 1ch;
    padding: 150px;
    width: 500px;
    height: 500px;
    grid-row: 1/2;
}

.third-duo{
    grid-row: 4/5;
    padding: 100px;
    grid-template-rows: 700px 300px;
    padding: 100px;
    display: grid;
}

.third-duo p{
    margin: 50px;
    font-family: lato;
    color: #000000;
    font-size: 1.5em;
    text-align: justify;
    background-color: #f5f0f0;
    border-radius: 1ch;
    padding: 10px;
}

.third-duo img{  
    border-radius: 1ch;
    padding: 150px;
    width: 500px;
    height: 500px;
    grid-row: 1/2;
}

.box-1{
    grid-column: 1/2;
}

.box-2{
    grid-column: 2/3;
}

#contanier-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    grid-template-rows: 100px 1fr;
    background-color:#EDDEDE;
}
#contanier-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    grid-column: 1/4;
    grid-template-rows: 1fr;
    background-color:#EDDEDE;
}

.title-3{
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 100px;
    z-index: 1;
}

.left{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    align-items: center;
    text-align: left;
    font-family: lato;
    color: #000000;
    font-size: 1.2em;
}

.left li{
    margin-left: 100px;
}

.left li{
    padding: 10px;
}

.right{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    align-items: center;
    text-align: center;
}
.right img{
    padding: 50px;
    margin-top: -50px;
}